body {
    margin: 0;
}


#container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr) ;;
}


header {
    
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 13 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    text-decoration: none;
    color: rgb(13, 149, 112);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 1.4rem;
    cursor: pointer;
}
.menu{  
    display: flex;
    gap: 20px;
}

#cart{
    text-decoration: none;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

#connection {
    text-decoration: none;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

a:hover {
    scale: 1.1;
}

#booking{
    text-decoration: none;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}


.background {
    grid-row-start: 2;
    grid-row-end: 13;
    grid-column-start: 1;
    grid-column-end: 13;
    background-image: url(/ui/images/background.jpg);
    background-size: 100%;
}

#text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

#presentation {
    color: white;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#compare {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
}

#cards {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 15vw;
    padding-right: 15vw;
}

#search {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border-radius: 10px;
    height: 40vh;
    width: 20vw;
    padding: 20px;
    gap: 30px;
}

#input {
    display: flex;
    flex-direction: column;
    height: 30%;
}

#inputdeparture {
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    border: none;
    height: 50%;
    color: gray;
    padding-left: 20px;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 2px solid rgb(206, 206, 206);
}

#inputdeparture:hover {
    background-color: rgb(230, 230, 230);
}

#inputarrival {
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    border: none;
    height: 50%;
    color: gray;
    padding-left: 20px;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-top: 2px solid rgb(206, 206, 206);
}

#inputarrival:hover {
    background-color: rgb(230, 230, 230);
}

#date {
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    border: none;
    height: 10%;
    color: gray;
    padding-left: 20px;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#date:hover {
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}

#searchButton {
    background-color: rgb(13, 149, 112);
    border-radius: 5px;
    border: none;
    height: 12%;
    color: white;
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#searchButton:hover {
    background-color: rgb(11, 128, 97);
    cursor: pointer;
}


#tripsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    height: 40vh;
    width: 20vw;
    padding: 20px;
    overflow: scroll;
}

#tripsContainer::-webkit-scrollbar {width: 0px;}

#imgtrain{
    size: 100%;
    height: 50%;
    margin-top: 20px;  
}



#textBook {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 20%;
    border-top: 3px solid rgb(13, 149, 112);
}

.backgroundStyle {
    grid-row-start: 2;
    grid-row-end: 13;
    grid-column-start: 1;
    grid-column-end: 13;
    background-color: rgb(206, 206, 206);
    display: flex;
    justify-content: center;
    align-items: center;
}

#myCart {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 70%;
    height: 40%;
    justify-content: space-between;
    align-items: center;
}

#mybooking {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.tripsModel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(241, 241, 241);
    border-radius: 5px;
    width: 97%;
    padding-left: 3px;
    padding-right: 3px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: rgb(60, 60, 60);
    margin-bottom: 5%;
}

.book {
    height: 80%;
    background-color: rgb(13, 149, 112);
    border: none;
    color: white;
    border-radius: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.book:hover {
    background-color: rgb(11, 128, 97);
    cursor: pointer;
}

.container {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    overflow-y: scroll;

}

.container::-webkit-scrollbar {width: 0px;}

.cartModel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(237, 234, 231);
    padding-left: 1%;
    padding-right: 1%;
    width: 80%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: rgb(97, 97, 97);
    border-radius: 10px ;
}

.deleCart{
  height: 50%;
  width: 3%;
  background-color: rgb(13, 149, 112);
  color: white;
  border: none;
  border-radius: 30%;
}

.deleCart:hover {
    cursor: pointer;
    background-color: rgb(11, 128, 97);
}

#title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#footerCart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(6, 23, 78);
    color: white;
    border-radius: 0px 0px 10px 10px;
    width: 100%;
}

#purchase {
    margin-right: 5%;
    size: 100%;
    height: 80%;
    background-color: rgb(13, 149, 112);
    color: white;
    border-radius: 10px;
    border: none    ;
    font-size: 1rem;
    width: 10%;
}

#purchase:hover {
    background-color: rgb(11, 128, 97);
    cursor: pointer;
}

#totalCart {
    margin-left: 3%;
}

hr {
    margin-top: 5%;
    width: 20%;
    height: 3px;
    border: none;
    background-color: rgb(11, 128, 97);
}

#enjoyBooking {
    color: rgb(13, 149, 112);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
}

#title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

#bigcontainer {
    grid-row-start: 3;
    grid-row-end: 11;
    grid-column-start: 3;
    grid-column-end: 11;
    background-color: rgb(13, 149, 112);
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

#containerlogin {
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-radius: 20px;
}



.inputtext {
    width: 70%;
    height: 7%;
    border-radius: 10px;
    border: none;
    color: rgb(11, 128, 97);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    padding-left: 20px;
}

#loginButton {
    background-color: white;
    border-radius: 5px;
    width: 40%;
    height: 7%;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    color: rgb(13, 149, 112);
    font-weight: 600;
}

.loginText {
    font-size: 1.6rem;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

#signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 90%;
    gap: 40px;
}

.bookModel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(237, 234, 231);
    padding-left: 1%;
    padding-right: 1%;
    width: 80%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: rgb(97, 97, 97);
    border-radius: 10px ;
}


